<footer class="footer container" id="footer">
  <p class="footer__copy">
    © 2016 MoGo free PSD template by <span>Laaqiq</span>
  </p>
  <div class="subscribe">
    <form class="subscribe__form">
      <div class="input-foter">
        <input
          type="email"
          id="foter-subscribe"
          class="subscribe__input"
          placeholder=" "
        />
        <label class="subscribe__label" for="foter-subscribe">
          Your Email
        </label>
        <button class="subscribe__btn" type="submit">subscribe</button>
      </div>
    </form>
  </div>
</footer>
