<main class="container">
  <section class="service section">
    <p class="section__sub-title">We work with</p>
    <h2 class="section__title">Amazing Services</h2>
    <ul class="service__list list">
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-photography"></use>
          </svg>
        </div>

        <div>
          <h3 class="service__title">Photography</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-webDesign"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Web Design</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-creativity"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Creativity</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-seo"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">seo</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-css-html"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Css/Html</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-digital"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">digital</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <section class="our-team section">
    <p class="section__sub-title">Who we are</p>
    <h2 class="section__title">Meet our team</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <ul class="our-team__list list">
      <li class="our-team__item">
        <div class="our-team__img">
          <img src="./images/Dix.jpg" alt="Matthew Dix Graphic Design" />
          <div class="social">
            <ul class="social__list list">
              <li class="social__item">
                <a href="" class="social__link link">
                  <svg class="social__icon" width="26" height="26">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link link">
                  <svg class="social__icon" width="26" height="26">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link link">
                  <svg class="social__icon" width="26" height="26">
                    <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link link">
                  <svg class="social__icon" width="26" height="26">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="our-team__title">Matthew Dix</h3>
        <p class="our-team__profetion">Graphic Design</p>
      </li>
      <li class="our-team__item">
        <a class="our-team__link link" href="">
          <div class="our-team__img">
            <img
              src="./images/Campbell.jpg"
              alt="Christopher Campbell Branding/UX design"
            />
            <div class="social">
              <ul class="social__list list">
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </a>
        <h3 class="our-team__title">Christopher Campbell</h3>
        <p class="our-team__profetion">Branding/UX design</p>
      </li>
      <li class="our-team__item">
        <a class="our-team__link link" href="">
          <div class="our-team__img">
            <img
              src="./images/Fertig.jpg"
              alt="Michael Fertig Michael Fertig"
            />
            <div class="social">
              <ul class="social__list list">
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a href="" class="social__link link">
                    <svg class="social__icon" width="26" height="26">
                      <use href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </a>
        <h3 class="our-team__title">Michael Fertig</h3>
        <p class="our-team__profetion">Michael Fertig</p>
      </li>
    </ul>
  </section>
</main>
