<main class="container">
  <section class="service section">
    <p class="section__sub-title">We work with</p>
    <h2 class="section__title">Amazing Services</h2>
    <ul class="service__list list">
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-photography"></use>
          </svg>
        </div>

        <div>
          <h3 class="service__title">Photography</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-webDesign"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Web Design</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-creativity"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Creativity</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-seo"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">seo</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-css-html"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">Css/Html</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
      <li class="service__item">
        <div class="service__icon">
          <svg width="32" height="31">
            <use href="./images/symbol-defs.svg#icon-digital"></use>
          </svg>
        </div>
        <div>
          <h3 class="service__title">digital</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <section class="our-team section">
    <p class="section__sub-title">Who we are</p>
    <h2 class="section__title">Meet our team</h2>
  </section>
</main>
