.background-grad {
  max-width: 576px;

  background-color: $heroBg-color;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 12px;
  background-image: $gradient, url(../images/hero.jpg);
  overflow: hidden;
  @include tablet {
    max-width: 992px;
    height: 1000px;
  }
  @include desktop {
    max-width: 1920px;
    height: 1000px;
  }
}
