.footer {
  border-top: $footer;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
  }
  @include desktop {
  }
}

.footer__copy {
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: $secondary-text-color;
  margin-bottom: 20px;
  & span {
    color: $hover-focusBG-color;
  }
}

.subscribe__form {
  text-align: center;
}

.input-foter {
  @include tablet {
    display: flex;
    justify-content: end;
  }
}

.subscribe__input {
  padding: 5px 16px;
  width: 100%;
  height: 40px;
  padding: 13px;
  border: $input-footer;
  background-color: $mainBg-color;
  margin-bottom: 20px;
  color: $footer-input-color;
  &:hover,
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 300;
    font-style: italic;
    color: $main-text-color;
  }
  @include tablet {
    width: 230px;
  }
}

.subscribe__btn {
  text-align: center;
  min-width: 150px;
  height: 40px;
  background-color: $accentBg-color;
  transition: $animationBackgroundColor;
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $header-text-color;
  cursor: pointer;
  border: none;
  &:hover,
  &:focus {
    background-color: $hover-focusBG-color;
  }
}
