header {
  z-index: 100;
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: end;
  @include tablet {
    width: 100%;
  }
}

.header__logo {
  color: #fff;
  font-family: $mainFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: $animationColor;
  padding: 8px 2px;
  &:hover,
  &:focus {
    color: $heroBg-color;
  }

  @include tablet {
    font-size: 30px;
  }
}

.heder__nav-contact {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: end;
}

.site-nav {
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: $header-text-color;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include tablet {
    column-gap: 28px;
  }
  @include desktop {
    column-gap: 58px;
  }
}

.site-nav__link {
  position: relative;
  padding: 15px 2px;
  transition: $animationColor;
  &:hover,
  &:focus {
    color: $heroBg-color;
  }
}

.site-nav__link--active {
  color: $heroBg-color;

  @include tablet {
    &:after {
      content: ' ';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: $heroBg-color;
    }
  }

  @include desktop {
    &:after {
      bottom: 0;
      transform: translate(0%, 50%);
    }
  }
}

.sub-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  color: $header-text-color;

  @include tablet {
    column-gap: 22px;
  }
  @include desktop {
    column-gap: 42px;
  }

  &__svg {
    fill: currentColor;
  }
}

.sub-menu__link {
  padding: 15px 2px;
  transition: $animationColor;
  &:hover,
  &:focus {
    color: $heroBg-color;
  }
}
