.service__list {
  margin-top: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 80px;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 68px;
    row-gap: 100px;
  }
}

.service__item {
  display: flex;
  width: 290px;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include tablet {
    width: 336px;
    margin-bottom: 0px;
  }
}

.service__title {
  font-family: $secondaryFont;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 18px;
}

.service__icon {
  display: block;
  margin-right: 28px;
}

.our-team__list {
  margin-top: 42px;
  margin-bottom: 16px;

  @include tablet {
    margin-top: 52px;
    margin-bottom: 26px;
  }
  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 92px;
    margin-bottom: 36px;
  }
}

.our-team__item {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
  margin-bottom: 30px;
  @include tablet {
    width: 380px;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}

.our-team__img {
  position: relative;
  width: 290px;
  height: 370px;
  background-color: $accentBg-color;

  @include tablet {
    width: 380px;
    height: 470px;
  }

  &:hover img,
  &:focus img {
    transform: translate(-10px, -10px);
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;

    transition: transform 250ms ease;
  }
}

.our-team__title {
  margin-top: 20px;
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $secondary-text-color;
  @include tablet {
    margin-top: 31px;
  }
}

.our-team__profetion {
  margin-top: 15px;
  font-weight: 300;
  font-style: italic;
}

.social {
  position: absolute;
  color: $hover-focusBG-color;
  top: -10px;
  left: -10px;
  width: 291px;
  height: 371px;
  background: $gradient;
  overflow: hidden;
  transform: scale(0);
  transition: transform 250ms ease;
  @include tablet {
    width: 381px;
    height: 471px;
  }

  .our-team__img:hover &,
  .our-team__img:focus & {
    transform: scale(1);
  }

  &__icon {
    fill: currentColor;
  }
}

.social__list {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 224px;
  height: 56px;
  background-color: #fce38a;
}

.social__item {
  width: 56px;
  height: 56px;
}

.social__link {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &:hover,
  &:focus {
    color: $header-text-color;
    fill: $header-text-color;
    background-color: $hover-focusBG-color;
  }
}
