.service__list {
  display: flex;
  flex-wrap: wrap;
  gap: 68px;
  margin-top: 20px;
}

.service__item {
  display: flex;
  width: 336;
  text-align: start;
}

.service__title {
  font-family: $secondaryFont;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 18px;
}

.service__icon {
  display: block;
  margin-right: 28px;
}
